@model MoviesCatalog.Models.Movie

@{
    ViewData["Title"] = "Детайли за филм";
}

<h1>@Model.Title</h1>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Заглавие</dt>
            <dd class="col-sm-9">@Model.Title</dd>

            <dt class="col-sm-3">Година</dt>
            <dd class="col-sm-9">@Model.ReleaseYear</dd>

            <dt class="col-sm-3">Жанр</dt>
            <dd class="col-sm-9">@Model.Genre?.Name</dd>

            <dt class="col-sm-3">Описание</dt>
            <dd class="col-sm-9">@Model.Description</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактирай</a>
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
    </div>
</div>