@model MoviesCatalog.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<h1>@Model.Title</h1>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Title</dt>
            <dd class="col-sm-9">@Model.Title</dd>

            <dt class="col-sm-3">Release Year</dt>
            <dd class="col-sm-9">@Model.ReleaseYear</dd>

            <dt class="col-sm-3">Genre</dt>
            <dd class="col-sm-9">@Model.Genre?.Name</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Actors</dt>
            <dd class="col-sm-9">
                @if (Model.MovieActors != null && Model.MovieActors.Any())
                {
                    <ul>
                        @foreach (var ma in Model.MovieActors)
                        {
                            <li>@ma.Actor?.Name</li>
                        }
                    </ul>
                }
                else
                {
                    <span>No actors</span>
                }
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</div>